# Node
node_modules/
npm-debug.log*
yarn-error.log
dist/
.vscode/
.DS_Store

# Env files
**/.env
**/.env.local
**/.env.*.local

# Backend sqlite data
backend/data/
backend/data/*.sqlite
backend/data/*.db

# Frontend build
frontend/dist/

# OS files
Thumbs.db
